html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
// 左边导航背景色
bg-leftmenu {
  background: #545c64;
}
a {
  text-decoration: none;
}

// 从写的Element-ui样式
.el-card__body {
  box-sizing: border-box;
  height: 100%
}